/* Add this style to center the buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* Adjust the margin as needed */    
}

.btn {
    margin: 10px;
    /* margin-bottom: 30px; */
}

/* Add this style to center the slider */
.div-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    /* Adjust the height as needed */
    max-width: 75%;
    margin: auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    margin: 0;
    background-color: #ffffff;
    flex-direction: column;
    margin-top: 30px;
}

#array-container {
    display: flex;
    margin-bottom: 20px;
    max-width: 75%;
}

.array-bar {
    width: 20px;
    margin-right: 5px;
    background-color: #34db58;
    max-height: 60vh;
}

#sizeSliderContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#sizeSlider {
    width: 300px;
    margin-right: 10px;
}
